/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Exo', sans-serif;*/

@import url("../css/font-awesome.min.css");

html,body,header,main,footer,section,button,div,span,h1,h2,h3,p,a,img,input,ul,li,form {
border:0;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

body{
	background-color: white;
}

button{
	border: none;
	background: transparent;

}

button:focus{
	outline: none;
}

ul {
	list-style:none;
}

a:hover,a:focus{
	text-decoration: none;
}

.fa-search{
	color: #999999;
	font-size: 16px;
	line-height: 78px;
}

.dropDown::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.topDropdown{
	float: right;
}

.preHeader{
	color: #1a237e;
	font-family:'Lato', sans-serif;
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	padding: 12px 0;
}

.preHeader ul{
	float: right;
	margin-left: 38px;
	box-shadow: -2px 2px 2px #f0f0f0;
}

.preHeader ul li{
	float: left;
	text-transform: uppercase;
	background-color: #c5cae9;
	border: 1px solid #c5cae9;
	padding: 0 12px;
	box-sizing: border-box;


}

.preHeader ul li:first-child {
	border-right: none;
}

.preHeader ul li:hover, .preHeader ul li:active, .preHeader ul li.active{
	background-color: white;
}

.preHeader a{
	float: right;
	font-size: 14px; 
	display: block;
	border: 1px solid #c5cae9;
	width: 68px;
	color: #1a237e;
	margin-left: 15px;	
	box-shadow: -2px 2px 2px #f0f0f0;
}

.preHeader a:hover{
	background-color: #c5cae9;
	box-shadow: 0px 0px 3px #888888;
}

.logo{

	float: left;
	background: url("../images/logo.png");
	height: 78px;
	width: 70px;
	background-size: contain;
	margin-left: 0;
	margin-right: 90px;
	padding: 0;
}	


.header{
	background: transparent;
	border-top: 1px solid #dddddd; 
	margin-bottom: 0;
}

.navBar{
	float: left;
}

.navBar li{
	float: left;
	margin-right: 36px;
}

.navBar li a, .navBar button {
	display: block;
  font-size: 15px;
  font-family: "Lato";
  color:#444444;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 78px;
  border: none;
}

.navBar li:hover a,.navBar li:hover button,.navBar .active a{
	color: #a01d26;
	background: transparent;
}

.searchIcon{
	float: right;
}

.banner{
	background: url("../images/bannerImg.jpg") no-repeat;
	padding: 228px 0 20px 0;
}

.banner ul li{
	float: left;
	background-color:white;
	text-align: center;
	opacity: 0.8;
}

.banner ul li:hover, .banner ul li.active{
	background-color: white;
	opacity: 1;
}

.banner i{
	display: inline-block;
	background: url("../images/postScore.png") no-repeat center;
	height: 52px;
	width: 28px;
	margin-right: 22px;
	vertical-align: middle;
}

.banner ul li a{
	display: block;
	text-transform: uppercase;
	font-family: "Lato";
	font-weight: bold;
	color: #a01d26;
	opacity: 0.9;
	line-height: 52px;
	font-size: 16px;
}

.shareBar{
	background-color: #a01d26;
	color: white;
	/*line-height: 60px;*/
	padding:8px 100px;
	text-align: center;
	margin-bottom:30px;

}

main{
	padding-top: 30px;
}

.shareBar span{
	display: inline-block;
	vertical-align: middle;
	line-height: 38px;
	font-family: "Lato";
	font-size: 16px;
}

.add:hover{
	box-shadow: 8px 8px 5px rgba(0,0,0,0.19);
}

.horn{
	float: left;
	background: white url(../images/horn.png) no-repeat center;
	border-radius: 50%;
	height: 38px;
	width: 38px;
}

.add{
	float: right;
	background: url(../images/plusIcon.png) no-repeat center;
	border: 1px solid white;
	height: 30px;
	width: 30px;
	margin: 7px 0;
	cursor: pointer;
}

.mainNewsImgWrapper {
	display: block;
	width: 100%;
	height: 320px;	
	position: relative;
	margin-bottom: 50px;
}

.mainNewsImgWrapper img{
	display: block;
}

.gradientDiv{
	width: 100%;
	height: 320px;
	position: absolute;
	top:0px;
	left: 0px;
	background: -webkit-gradient(linear, 3% 35%, 2% 100%, from(transparent), to(rgba(0,0,0,1)));
	padding: 186px 130px 0 30px;
	box-sizing: border-box;
}

.gradientDiv span{
	font-size: 15px;
	font-family: "Lato";
	color: #fff;
	line-height: 24px;
	margin-right: 22px;

}

h1{

	font-size: 28px;
	font-family: "Lato";
	font-weight: bold;
	color: #fff;
	line-height: 38px;
}

 h2{
	text-transform: uppercase;
	font-size: 22px;
  	font-family: 'Montserrat', sans-serif;;
  	color: #444;
  	font-weight: bold;
  	line-height: 40px;
}

.newsHeading a{
	float: right;
	border: 1px solid #dddddd;
	color: #a01d26;
	font-family: "Lato";
	line-height: 40px;
	width: 127px;
	text-align: center;
}

.newsHeading a:hover{
	background-color: #a01d26;
	color: white;
}

.fa-angle-down{
	margin-left: 30px;
	font-size: 15px;
	color: #a01d26;
}	

.latestNews{
margin-bottom: 30px;	
}

.newsWrapper{
	display: block;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	margin-top: 30px;
}

.newsWrapper:hover{
	box-shadow: 5px 0px 10px rgba(0,0,0,0.19);
}

.newsImgWrapper img{
	display: block;
	width: 100%;
}
.newsImgWrapper{
	margin-bottom: 25px;
}

.newsWrapper span{
	font-family: "Lato";
	font-size: 13px;
	line-height: 15px;
	color: #666666;
	margin:0 22px;
}

.newsWrapper strong{
	color: #a01d26; 
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Lato";
	font-size: 13px;
	line-height: 15px;
	white-space: pre-wrap;
}

h3{
	font-size: 22px;
  	font-family: "Lato";
  	color: #444;
  	font-weight: bold;
  	line-height: 30px;
  	margin: 22px;
}


.blueLink{
	display: block;
	font-size: 14px;
	font-family: "Lato";
	color: #1a237e;
	text-transform: uppercase;
	border: 1px solid #c5cae9;
	line-height: 38px;
	text-align: center;
}

 .blueLink:hover{
	color: #1a237e;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.8);
}

.adWrapperLeft{
	display: block;
	max-width: 728px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 50px;
}



.adWrapperLeft img{
	display: block;
	border: 1px solid black;
}

.teamCanada{
	margin-bottom: 42px;
	margin-top: 22px;
}


.teamCanada img{
	display: block;
}

.teamCanada a{
	display: block;
	padding: 13px 13px;
	border: 1px solid #dddddd;
}


h4{
 	font-size: 22px;
  	font-family: "Lato";
  	color: #444;
  	line-height: 30px;
  	margin-bottom: 25px;
}

h5{
	font-size: 18px;
	font-family: "Lato";
	color:#a01d26;
	line-height: 24px;
	font-weight: bold;
}

.teamCanada span{
	font-size: 16px;
	font-family: "Lato";
	color: #444;
	line-height: 24px;
 }

.teamCanada .imgWrapper{
	height: 75px;
	width: 75px;
	margin-right: 16px;
 }

.teamCanada a:hover{
 	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.19);
 }

.teamCanada li:nth-child(2n){
 	padding-top: 65px;
 }

.partners li a{
 	display: block;
 	background: #fff url("../images/brand.png") no-repeat center center;
 	width: 100%;
 	height: 98px;
 	border: 1px solid #ddd;
 	margin-bottom: 30px;
}

.partners{
	margin-top: 106px;
}

.partners li a:hover{
	 box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.19);
}

.right{
	background-color: #f9f9f9;
	padding: 36px 15px 52px 15px;
}

.adSlotRight{
	display: block;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 88px;
}

.right h2{
	font-size: 20px;
	margin-bottom: 15px;
}

.leaderBoard li{
	border-top: 1px solid #dddddd;
	padding-top: 22px;
	padding-bottom: 18px;
}

.viewBlue{
	display: block;
	font-size: 12px;
	font-family: "Lato";
	color: #1a237e;
	font-weight: bold;
	line-height: 16px;
	margin-top: 10px;	
	text-transform: uppercase;
}

.viewBlue:hover{
	color: #1a237e;
	text-decoration: underline;
}

.leaderBoard p, .championship p{
  font-size: 16px;
  font-family: "Lato";
  color: #444;
  line-height: 24px;
  white-space: pre-line;
}

.rightViewLink{
	display: block;
	border: 1px solid #ddd;
	line-height: 38px;
	font-family: "Lato";
	font-size: 14px;
	color: #1a237e;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.rightViewLink:hover{
	background-color: #ebeeff;
	color: #1a237e;
 	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.8);
}

.redTitle{
	display: block;
  font-size: 18px;
  font-family: "Lato";
  color: #a01d26;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
}

.championship li{
	border-top: 1px solid #dddddd;
	padding-top: 22px;
	padding-bottom: 18px;
}



.fa-external-link{
	color: #1a237e;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

.topList ul li:first-child{
	text-transform: uppercase;
	font-size: 16px;
  	font-family: 'Montserrat', sans-serif;;
  	color: #444;
  	font-weight: bold;
  	line-height: 28px;
}

.topList ul li a{
	display: block;
	font-size: 14px;
	font-family: "Lato";
	color: #1a237e;
	font-weight: bold;
	line-height: 32px;
}

.topList>li{
	margin-top: 58px;
}

footer p{
	text-transform: uppercase;
	font-size: 12px;
  	font-family: "Lato";
  	color:#666;
  	text-align: center;
  	line-height: 16px;
  	margin-top: 50px;
}


footer{
	padding-bottom: 60px;
}