@import url("../css/font-awesome.min.css");
@import url("../css/reset.css");


.glyphicon{
	color: #3b3e46;
	text-shadow:-1px 0 #e63547, 0 1px #e63547, 1px 0 #e63547, 0 -1px #e63547;
}

.topHeader{
	background-color: #3b3e46;
	text-align: left;
	padding: 18px 0 10px 0;
}


.topHeader li{
	float: left;
	margin-right: 40px;
	margin-bottom: 8px;
}

.topHeader li span{
	float: left;
	font-size: 13px;
	color:white;
	text-transform: uppercase;
	line-height: 16px;
}
.topHeader li i{
	float: left;
	line-height: 16px;
	margin-right: 11px;
}

.header,#myNavbar{
	text-align: center;
	background-color: white;
	border: none;
	margin: 0px;
}

.logo{
	display: block;
	margin-top: 26px;
	height: 44px;
}

.logo img{
	display: block;
	height: auto;
}

.header .navBar>li>a{
	display: block;
	font-size: 14px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 98px;
	box-sizing: border-box;
	padding: 0;
}

.header .navBar>li>a:hover,.header .navBar>.active>a:hover,.header .navBar>.active>a{
	color: #e63547;
	background-color: white;
}

.navBar li{
	margin-left: 32px;
}


.banner{
	background: url("../images/bannerImg.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 230px;
}

.banner p{
	font-size: 26px;
	color: white;
	font-weight: 600;
	line-height: 42px;
	margin-bottom: 45px;
}

h1{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 72px;
	line-height: 74px;
	margin-bottom: 20px;
}

h1>span{
	color: #e63547;
	font-weight: bold;
}

.redButton{
	display: inline-block;
	color: white;
	background-color: #e63547;
	font-weight: bold;
	width: 244px;
	font-size: 14px;
	text-transform: uppercase;
	padding:22px 0;
}

.banner a:hover{
	color: white;
	box-shadow: -2px -2px 5px 0 rgba(0,0,0,0.19);
}

/*why nadine*/

.whyNadine{
	padding: 110px 0;
}

h2{
	color: black;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 40px;
	margin-bottom:30px;
}

h2>span{
	color: #e63547;
	font-weight: bold;
}

.title{
	text-align: center;
	margin-bottom:46px; 
}

.underLine>span{
	display: inline-block;
	border-bottom: 3px solid #e63547;
	width: 62px;
	vertical-align: middle;
}
.underLine>i{
	display: inline-block;
	border: 3px solid #e63547;
	border-radius: 50%;
	height: 17px;
	width: 17px;
	vertical-align: middle;
}
.features li i{
	display: block;
	width: 98px;
	height: 101px;
	margin: 0 auto;
	background-size: contain;
	margin-bottom: 46px;
}

.building{
	background: url("../images/building.png") no-repeat center center;
}


.balance{
	background: url("../images/balance.png") no-repeat center center;
}

.bulb{
	background: url("../images/bulb.png") no-repeat center center;
}

h3{
	font-size: 18px;
	color: black;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features p{
	font-size: 14px;
	color: black;
	text-align: center;
	line-height: 24px
}

/* OUR MISSION*/

.mission{
	text-align: center;
	background: url("../images/mission.jpg") no-repeat;
	background-size: cover;
	padding-top: 156px;
	padding-bottom: 158px;
}

.mission h1{
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 20px;
}

.mission p{
	font-size: 18px;
	line-height: 32px;
	margin: 0 auto;
	color: white;
	margin-bottom: 20px;
}

/*CLIENTS*/

.clients{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 105px;
}
.clients h2{
	margin-bottom: 68px;
}
.clients ul li{
	text-align: center;
	height: 100px;
}

.clients li img{
	display: block;
	margin: 0 auto;
}

/*FOOTER*/
footer{
	color:white;
	background-color: #2b2c31;
	padding-bottom: 75px;
	padding-top: 70px;
}

h4{
	line-height: 35px;
	margin-bottom: 30px;
	border-bottom: 2px solid #2f3035;
	font-size: 14px;
}

.address{
	margin-bottom: 25px;
}

.company li a{
	display: block;
	text-transform: uppercase;
	color: white;
	line-height: 25px;
}

.contact p{
	line-height: 25px;
}

.company li a:hover{
	color:#e63547;
}

.awards li img{
	display: block;
	margin: 0 auto;
}

.awards li{ 
	height: 110px;
}

.copyright{
	display: block;
	background-color: #26272b;
	color: #818389;
	line-height: 16px;
	padding: 36px 0;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 480px) {
    .topHeader li i{
    	margin-right: 5px;
    }
    
    .topHeader li{
    	margin-right: 15px;
    	margin-bottom: 10px;
    }

    .container .logoContainer{
		margin: 0;
	}

    .topHeader li span{
    	font-size: 9px;
    }

    .header button{
    	margin-bottom: 10px;
    }
    .logo{
    	width: 75%;
    	margin-top: 10px;
    }

    .header .navBar li a{
    	line-height: 40px;
    }

    .header .navBar li{
    	margin-left: 5px;
    }

    h1{
    	font-size: 42px;
    	line-height: 50px;
    }

    .banner p{
    	font-size: 20px;
    	line-height: 30px;
    }

    .banner{
    	padding: 80px 0;
    }

    .redButton{
    	width: 150px;
    	padding: 18px 0;
    }

    .features li{
    	margin-bottom: 50px;
    }

    .whyNadine{
    	padding: 30px 0 0 0;
    }

    .whyNadine h2{
    	font-size: 34px;
    	line-height: 38px;
    }

    .mission{
    	padding: 55px 0;
    }

    .mission p{
    	font-size: 14px;
    	line-height: 24px;
    }

    .mission h1{
    	font-size: 32px;
    	line-height: 34px;
    }

    .clients li{
    	margin-bottom: 30px;
    }

    .clients{
    	padding-bottom: 55px;
    }

    .clients h2{
    	margin-bottom: 30px;
    	font-size: 26px;
    	line-height: 30px;
    }

    .company li{
    	margin-bottom: 15px;
    }

    .company li a{
    	font-size: 12px;
    }

    .contact{
    	margin-bottom: 50px;
    }

    .copyright{
    	font-size: 10px;
    	padding: 15px 0;
    }

}