html,body,header,footer,section,div,span,h1,h2,h3,p,a,img,ul,li{
	border:0;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

body {
	font-size: 14px;
	font-family: "Raleway",sans-serif;
}

ul li{
	list-style:none;
}

a, a:hover{
	text-decoration: none;
}

.clearfix:after{
  clear: both;
  display: table;
  content: "";
}

.clearfix:before{
  display: table;
  content: "";
}

/*display: flex;
  flex-direction: column;
  justify-content: center;*/
