@import url("fontStyle.css");
@import url("font-awesome.min.css");
@import url("reset.css");


.fa-chevron-down{
	font-size: 10px;
	color: #656565;
}

.fa-angle-left{
	font-size: 17px;
	line-height: 23px;
	color: #c0262b;
}

.fa-map-marker{
	color: #dc605f;
	font-size: 12px;
}

.fa-comment-o{
	font-size: 18px;
	color: #767676;
}

.clear{
	clear: both;
	margin: 0;	
}

ul li.clear{
	float: none;
	margin: 0;
	padding: 0;
	border: none;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.logo{
	float: left;
	height: 70px;
	width: 140px;
	background: url("../images/logo.png") no-repeat center;
	background-size: 100%;
}

header{
	background-color: #272727;
}

header ul{
	float: right;
}

header li{
	float: left;
	border-top: 4px solid transparent;
}

header li a{
	display: block;
	font-size: 14px;
	font-family: "Quicksand";
	color: #fff; 
	line-height: 66px;
	padding: 0 15px;
	
}

.globe{
	background: url("../images/globeIcon.png") no-repeat center;
	height: 66px;
	width: 20px;
	position: relative;
}

.notification{
	display: none;
	position: absolute;
	top:16px;
	left: 16px;
	height: 13px;
	width: 10px;
	background-color: red;
	color: white;
}

.dropDownCarret{
	display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    margin-left: 3px;
}

header li:hover, header ul li.active{
	background-color: black;
	border-top: 4px solid #c0262b;
}


.pageTitle{
	border-bottom: 1px solid #999999;
}

h1{
	float: left;
	font-family:"RBNo2-Light-Alternative", sans-serif;
	font-size: 40px;
	line-height: 64px;
	color: #c1272c;
	margin-right: 10px;
}

.optionsDiv{
	float: left;
	margin-top: 21px;
	position: relative;
}

.optionsDiv:hover, .downloadIcon:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.optionsBtn{
	border: 1px solid #bcbcbc;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #f4f4f4;
}

.optionsDiv:hover ul {
	display: block;
}

.optionsDiv ul{
	display: none;
	position: absolute;
	text-align: left;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	background-color: white;
	z-index: 1;
}

.optionsDiv li{
	border-bottom: 1px solid #e2e2e2;
	padding: 0 8px;
	min-width: 137px;
	box-sizing: border-box;
}

.optionsDiv li:last-child{
	border-bottom: none;	
}

.optionsDiv li:hover{
	background-color: #e2e2e2;
	border-radius: 2px;
}

.optionsDiv ul a{
	color: #4d4d4d;
	display: block;
	line-height: 26px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.backIcon{
	border: 1px solid #c0262b;
	border-radius: 50%;
	height: 26px;
	width: 26px;
	padding-left: 7px;
	box-sizing: border-box;
	margin-right: 10px;
}

.back{
	float: right;
	font-family: "QuicksandBook-Regular", sans-serif;
	font-size: 17px;
	color: black;
	line-height: 64px;
}

.back:hover{
	color: #c0262b;
}

main{
	background-color: #f2f2f2;
}

.leftContainer{
	width: 356px;
	padding-top: 20px;
	float: left;
}

.rightContainer{
	padding-top: 20px;
	width: 804px;
	float: right;
}

.tabsHead li{
	float: left;
	border:1px solid #cccccc;
	background-color: #e2e2e2;
	margin-bottom: -1px;
}

.tabsHead li:hover, .tabsHead li.active{
	background-color: white;
	border-bottom: 1px solid white;
}

.tabsHead li a{
	display: block;
	font-family: "Quicksand",sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 34px;
	color: #666666;
	padding: 6px 22px;
}

.tabsHead li:first-child {
	border-right:  none;	
}

.sourceData{
	border: 1px solid #cccccc;
	padding: 10px 15px;
	background-color: white;
	box-sizing: border-box;
}

.sourceData li span{
	font-family: "QuicksandBook-Regular", sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #4d4d4d;
}

.details i{
	margin-right: 9px;
}

.parameter{
	display: inline-block;
	min-width: 105px;	
}
.details{
	display: inline-block;
	min-width: 217px;	
	text-align: right;
}


h2{
	font-size: 16px;
	font-family: "Quicksand";
	color: #666666;
	font-weight: bold;
	line-height: 34px;
	padding: 6px 18px;
	border-top: 1px solid #dfdfdf;
}

.frame,.comments{
	background-color: white;
	margin-top: 8px;
	border: 1px solid #e4e4e4;
	box-shadow: 1px 1px 1px #e4e4e4;
	/*border-left: 2px solid #e4e4e4;*/
}

.frame > ul > li{
	padding: 8px 8px;
	border-top: 1px solid #e2e2e2;
}

.frame > ul > li:hover{
	background-color: #e2e2e2;
	font-family: "Quicksand";
	font-weight: 700;
}

h3{
	float: left;
	font-family: "QuicksandBook-Regular", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #4d4d4d;
	width: 119px;
	padding: 10px 0;
	box-sizing: border-box;
	height: 62px;
	margin-left: 15px;
}

.apply{
	font-family: "Quicksand";
	font-weight: 700;
	line-height: 34px;
	float: right;
	background-color: #ba2527;
	color: white;
	width: 95px;
	text-align: center;
	border-radius: 4px;
	margin-top: 16px;
}

.downloadIcon{
	float: left;
	border-radius: 3px;
	background: #f4f4f4 url("../images/fileDownLoad.png") no-repeat center;
	height: 24px;
	width: 26px;
	border: 1px solid #c4c4c4;
	margin: 21px 8px 0 70px;
}

.iconImg{
	float: left;
	height: 62px;
	width: 62px;
	
}

.optionBig{
	height: 26px;
	width: 28px;
}

.mapWrapper{
	display: block;
	height: 548px;
	width: 804px;

}

.comments ul li{
	padding: 15px 0;

}

.comments ul li:nth-child(2){
	margin-left: 22px;
}

.commentNumber{
	margin-top: 10px ;
	font-family: sans-serif;
	float: left;
	background: url("../images/commentBullet.png") no-repeat center;
	color: white;
	width: 22px;
	height: 30px;
	padding: 5px 6px;
	box-sizing: border-box;
}

.comments h2 i{
	margin-right: 8px;
}
.commentData{
	float: left;
	margin-left: 20px;
}

.comments ul{
	border-top: 1px solid #e4e4e4;
	padding: 0 18px;
}
.comments li h2{
	padding-top: 0;
	border: none;
	padding: 0;
	margin: 0;
}

.comments p{
	font-family: "QuicksandBook-Regular", sans-serif;
	font-size: 14px;
	line-height: 24px;
	/*padding-left: 18px;*/
	width: 500px;
}

.timestamp{
	font-family: "QuicksandBook-Regular", sans-serif;
	font-size: 14px;
	float: right;
	width:55px;
	margin-top: 10px;
	line-height: 25px;
	text-align: right;
}

.comments form{
	padding: 10px 18px;
}
.comments form textarea{
	width: 646px;
	padding: 10px 15px;
	box-sizing: border-box;
	max-height: 50px;
	border-color:  #ebebeb;
	border-radius: 4px;
	font-size: 14px;
	line-height: 24px;
}

textarea::-webkit-input-placeholder{
	font-family: "Quicksand";
	font-style: italic;	
}

.comments form button{
	font-family: "Quicksand";
	font-weight: 700;
	line-height: 34px;
	float: right;
	background-color: #ba2527;
	color: white;
	width: 108px;
	text-align: center;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;	
}

